<!DOCTYPE html>
<html >
<head>
<meta charset="UTF-8">
<title>注册登录页面</title>

<link rel="stylesheet" href="css/style.css">
<!-- <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
<link rel='stylesheet prefetch' href='https://fonts.googleapis.com/icon?family=Material+Icons'> -->
</head>
<body>
<!-- <div style="text-align:center;clear:both">
<script src="/gg_bd_ad_720x90.js" type="text/javascript"></script>
<script src="/follow.js" type="text/javascript"></script>
</div> -->

<div class="cotn_principal">
  <div class="cont_centrar">
    <div class="cont_login">
      <div class="cont_info_log_sign_up">
        <div class="col_md_login">
          <div class="cont_ba_opcitiy">
            <h2>LOGIN</h2>
            <p>Lorem ipsum dolor sit amet, consectetur.</p>
            <button class="btn_login" onClick="cambiar_login()">LOGIN</button>
          </div>
        </div>
        <div class="col_md_sign_up">
          <div class="cont_ba_opcitiy">
            <h2>SIGN UP</h2>
            <p>Lorem ipsum dolor sit amet, consectetur.</p>
            <button class="btn_sign_up" onClick="cambiar_sign_up()">SIGN UP</button>
          </div>
        </div>
      </div>
      <div class="cont_back_info">
        <div class="cont_img_back_grey"> <img src="po.jpg" alt="" /> </div>
      </div>
      <div class="cont_forms" >
        <div class="cont_img_back_"> <img src="po.jpg" alt="" /> </div>
        <div class="cont_form_login"> <a href="#" onClick="ocultar_login_sign_up()" ><i class="material-icons">&#xE5C4;</i></a>
          <h2>LOGIN</h2>
          <!--<form method="post" action="login">-->
            <input type="text" placeholder="Email" name="email" id="email"/>
            <input type="password" placeholder="Password"  name="password" id="password"/>
            <button class="btn_login" onclick="login()">LOGIN</button>
            <!--<input type="submit" value="提交"/>-->
         <!--</form>-->
          <script>
              function login() {
                  //获得相关的节点
                  var email = document.getElementById('email');
                  var password = document.getElementById('password');
                  var infor="email="+email.value+"&&password="+password.value;



                  console.log(email.value);
                  $.ajax({
                      url: 'login',
                      type: "POST",
                      data: {
                          email: email.value,
                          password: password.value
                      },
                      traditional: true,//这里设置为true
                      success: function(data) {
                          console.log(data);
                          alert(data);
                      }
                  });

              }
          </script>
        </div>
        <div class="cont_form_sign_up"> <a href="#" onClick="ocultar_login_sign_up()"><i class="material-icons">&#xE5C4;</i></a>
          <h2>SIGN UP</h2>
          <input type="text" placeholder="Email" id="r-email" name="r-email"/>
          <input type="text" placeholder="User" id="user" name="user"/>
          <input type="password" placeholder="Password" id="r-password" name="r-password"/>
          <input type="password" placeholder="Confirm Password"  id="rr-password" name="rr-password"/>
          <button class="btn_sign_up" onclick="register()">SIGN UP</button>
          <script>
              function register() {
                  //获得相关的节点
                  var r_email = document.getElementById('r-email');
                  var r_password = document.getElementById('r-password');
                  var user =document.getElementById('user')
                  $.ajax({
                      url: 'regist',
                      type: "POST",
                      data: {
                          r_email: r_email.value,
                          r_password: r_password.value,
                          user:user.value
                      },
                      traditional: true,//这里设置为true
                      success: function(data) {
                          console.log(data);
                          alert(data);
                      }
                  });

              }
          </script>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="js/jquery.min.js"></script>
<script src="js/index.js"></script>

</body>
</html>

